<a href="https://colab.research.google.com/github/DaesAgelmar/BBY105-Data-Visualization/blob/main/DSA105_W3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Week 3 - Python Basics - Data Types, Variables, and Basic Operations**
**Your First Python Program**

Let's implement the classic "Hello World" program:

In [ ]:
# This is a comment - Python ignores this line
# Comments help explain your code

print("Hello Python world!")

Run this code - You should see the output below the cell.

**Understanding the Code**

`print()` is a function that displays output
Text inside quotes `("...")` is called a string
The # symbol starts a comment

**Variables: Storing Information**

A variable is a named container that holds a value.

In [ ]:
# Creating variables
message = "Hello Python world!"
print(message)

# Changing variable values
message = "Hello Python Crash Course world!"
print(message)

**Key Points:**

Variable names should be descriptive

Use lowercase with underscores: `student_name` not `StudentName`

Variables can be reassigned new values

**Variable Naming Rules**

In [ ]:
# VALID variable names
student_name = "Alice"
student_age = 20
grade_2024 = 85
_private_value = 100

# INVALID variable names (uncomment to see errors)
# 2024_grade = 85      # Can't start with number
# student-name = "Bob"  # Can't use hyphens
# class = "Economics"   # Can't use Python keywords

## **Working with Numbers**
**Integers and Floats**

Python handles two main types of numbers:

In [ ]:
# Integers (whole numbers)
students_enrolled = 150
semester_number = 2
credits_earned = 90

print(students_enrolled)
print(semester_number)

# Floats (decimal numbers)
gpa = 3.75
tuition_cost = 15000.50
interest_rate = 0.045

print(gpa)
print(interest_rate)

## **Arithmetic Operations**

In [ ]:
# Basic arithmetic
print(2 + 3)      # Addition: 5
print(10 - 4)     # Subtraction: 6
print(5 * 3)      # Multiplication: 15
print(15 / 3)     # Division: 5.0 (always returns float)
print(15 // 3)    # Integer division: 5
print(17 % 5)     # Modulus (remainder): 2
print(2 ** 3)     # Exponentiation: 8

**Order of Operations**

Python follows standard mathematical order (PEMDAS):

In [ ]:
# Without parentheses
result1 = 2 + 3 * 4
print(result1)  # 14 (multiplication first)

# With parentheses
result2 = (2 + 3) * 4
print(result2)  # 20 (addition first)

# Complex calculation
result3 = (5 + 3) * 2 ** 2 / 4
print(result3)  # 8.0

**Practical Example**:

Sales Calculation

In [ ]:
# Calculate total sales revenue
item_price = 49.99
quantity_sold = 125
tax_rate = 0.08

# Calculate subtotal
subtotal = item_price * quantity_sold
print(f"Subtotal: ${subtotal}")

# Calculate tax
sales_tax = subtotal * tax_rate
print(f"Sales Tax: ${sales_tax}")

# Calculate total
total_revenue = subtotal + sales_tax
print(f"Total Revenue: ${total_revenue}")

Using Underscores for Readability

In [ ]:
# Large numbers can use underscores
company_revenue = 14_500_000
population = 1_400_000_000

print(company_revenue)  # Python ignores underscores: 14500000
print(population)

Multiple Assignment

In [ ]:
# Assign multiple variables at once
x, y, z = 0, 0, 0
print(x, y, z)  # 0 0 0

# Useful for related values
price, quantity, discount = 100.0, 5, 0.10
print(price, quantity, discount)

# **Working with Strings**
Creating and Using Strings

In [ ]:
# Strings can use single or double quotes
name = "Ada Lovelace"
course = 'Fundamentals of Algorithms'
university = "Economics University"

print(name)
print(course)